!!! 5
html
	head
		title="Server status - Wander game"
		meta(http-equiv='Content-type', content='text/html; charset=UTF-8')
		link(type='text/css', rel='stylesheet', href='./css/style.css', media='screen')		
	body
		h1 Server status
		#wrapper
			dl
				dt Version
				dd Wander v#{version}
				dt Name
				dd #{serverInfo.name}
				dt Description
				dd #{serverInfo.desc}
				dt IP:port
				dd #{serverInfo.ip}:#{serverInfo.port}
				dt Info URL
				dd: a(href=serverInfo.url) serverInfo.url
				dt Slots
				dd #{players.length}/#{maxPlayers}
				- if (players.length > 0)
					ol#status-players
						-players.forEach(function(p) {
						li #{p.nick} #{p.ping}ms
						-})
				dt Admin
				dd #{serverInfo.admin} &lt;#{serverInfo.email}&gt;
				dt Memory used
				dd #{memUsed}MB
				dt Uptime
				dd #{uptime}
