!!! 5
html
	head
		title="Server status - Wander game"
		meta(http-equiv='Content-type', content='text/html; charset=UTF-8')
		link(type='text/css', rel='stylesheet', href='./css/style.css', media='screen')	
		
		script(type='text/javascript', src='./js/jquery-latest.min.js')
		script(type='text/javascript', src='./socket.io/socket.io.js')
		script(type='text/javascript', src='./js/Socket.js')
		script(type='text/javascript', src='./js/status.js')
	body
		#wrapper-status
			h1 Server status
			dl
				dt Version
				dd Wander v#{version}
				dt Name
				dd #{serverInfo.name}
				dt Description
				dd #{serverInfo.desc}
				dt IP:port
				dd #{serverInfo.ip}:#{serverInfo.port}
				dt Info URL
				dd: a(href='serverInfo.url') serverInfo.url
				dt Slots
				dd
					span#status-slots#{players.length}
					/#{maxPlayers}
					ol#status-players
						- if (players.length > 0)
							-players.forEach(function(p) {
								li #{p.nick} #{p.ping}ms
							-})
				dt Admin
				dd #{serverInfo.admin} &lt;#{serverInfo.email}&gt;
				dt Memory used
				dd#status-memUsed #{memUsed}
				dt Uptime
				dd#status-uptime #{uptime}
			p#footer &copy;2011 Fabrizio Codello
